.chat-area__header
  .header__group-info
    .group-info__name #{@group.group_name}
    .group-info__title
      %ul.group-info__member-list
        %li Member :
        - @group.users.each do |user|
          %li #{user.name}
  .header__group-member-edit
    = link_to edit_group_path(@group.id) do
      Edit
