%li
  .message-list__name #{message.user.name}
  .message-list__date #{l message.created_at, format: :long}
  - if message.content.present?
    .message-list__text #{message.content}
  - if message.image.present?
    .message-list__image
      = image_tag message.image.url
