.main
  = render partial: "group-area"
  .chat-area
    = render partial: "chat-area__header"
    .chat-area__timeline(data-box = ".scroll")
      %ul.timeline__message-list
        = render @messages
    = render partial: "chat-area__form"
