.main
  = render partial: "group-area"
  .chat-area
    = render partial: "chat-area__header"
    .chat-area__timeline(data-box = ".scroll")
      %ul.timeline__message-list
        - unless @messages.count == 0
          = render partial: "chat-area__timeline", collection: @messages, as: "message"
        - else
          %li
            .message-list__text まだメッセージはありません。メッセージや画像を投稿してみましょう。
    = render partial: "chat-area__form"
