.flash-message-notice {
  width: 100%;
  background: $blueColor;
  color: $whiteColor;
  text-align: center;
}
.flash-message-alert {
  width: 100%;
  background: $orangeColor;
  color: $whiteColor;
  text-align: center;
}
